<h2> Add New Landmark </h2>

    <form action="/landmarks" method="POST" >

      <h3><label>Landmark Name: </label>
        <input type="text" id="landmark_name" name="landmark[name]"></h3>
        <br>

       <h3><label>Year Completed:</label>
        <input id="landmark_year_completed" type="text" name="landmark[year_completed]"><br></h3>
        <br>
          
    <input type="submit" value="Create New Landmark">

</form>
