<h1> All Figures</h1>

<h2>Figure Name:</h2>


<% @figures.each do |figure| %>
    <a href="/figures/<%= figure.id %>"><%= figure.name %></a>
      <%figure.titles.each do |title|%>
          <ul><%=title.name%><br>
        <%end%>
      <%end%></ul>
</ul>
